<%= form_for(@entry) do |f| %>

  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2><%= Date::strptime("#{params[:year]}-#{params[:month]}-#{params[:day]}", "%y-%m-%d").strftime("%A, %B %-d, %Y ") %></h2>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :'data-range' => 500 %> 
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :food %><br />
    <%= f.text_area :food, :'data-range' => 255 %>
  </div>
  <div class="field">
    <%= f.label :pain %><br />
    <%= f.range_field :pain, :in => 1..10, :value => 1 %>
    <span id="entry-pain-value">1</span>
  </div>
  <div class="field">
    <label>Special Date</label><br/>
    <input type="text" name="special" />
  </div>
  
  <input type="hidden" name="date_token" value="<%= "#{params[:year]}-#{params[:month]}-#{params[:day]}" %>" />
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
