<ul>
  <% @entries.each_with_index do |entry,i| %>
    <li>
      <% if !!entry == entry %>
        <% jotDate = Date.today - i %>
        <%= link_to jotDate.strftime("%a, %m.%d.%y"), "/entries/new/#{jotDate.strftime('%y')}/#{jotDate.month}/#{jotDate.day}" %>
      <% else %>
        <%= link_to "#{entry.first.title} - #{entry.first.created_at.strftime('%a, %m.%d.%y')}", entry.first %>
      <% end %>
    </li>
  <% end %>
</ul>

<hr/>

<ol>
<% @events[:future].each do |e| %>
  <li><%= link_to e.name, e %><%= " - #{e.date} - #{days_till_event(e.date)} days" %></li>
<% end %>
</ol>

<ol style="color: #777;">
<% @events[:past].each do |e| %>
  <li><%= link_to e.name, e %><%= " - #{e.date} - #{days_till_event(e.date + 1.year)} days" %></li>
<% end %>
</ol>